
.shoppanel-input textarea {
    background-color: transparent;
    border: 0 none;
    box-shadow: 0 0 2px #17a2b8;
    padding: 0 5px;
    width: 100%;

    /* для принятия родительских стилей */
    font-size: unset;
    font-weight: unset;
    color: unset;
}
.shoppanel-box {
    position: absolute;
    top: -1000px;
    left: 0;
    background-color: #fff;
    z-index: 10;
}
.shoppanel-load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
    background-color: rgba(250,250,250, 0.5);
    z-index: 1040;
}
.shoppanel-load > div {
    margin:	10% auto;
    padding: 40px;
    background-color: rgba(23,162,184, 0.8);
    color: #fff;
    width: 400px;
    text-align: center;
    border-radius: 3px;
}
.shoppanel-picker {
    border-radius: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
    border: thin solid #eee;
    display: inline-block;
}
.shoppanel-picker:hover {
    transform: scale(1.1);
}

[data-edit] {
    white-space: break-spaces;
}
